<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>News Scraper</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <title>NY Times Scraper</title>
</head>

<body>
  {{{body}}}
</body>

</html>
